{% extends 'base.html' %}


{% block header %}Welcome to the Eberus Compendium!{% endblock header %}

{% block content %}
<div class="wrapper">
    <div class="image-area">
        <div class="image-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nisi, nostrum explicabo numquam amet rerum voluptas distinctio, minima alias quibusdam molestiae odio enim animi ipsam reprehenderit deserunt officiis repellat? Sunt!</div>
    </div>
    <div class="intro-text centered-container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quod iure omnis vitae, minus rem tempora dicta qui a excepturi mollitia provident blanditiis necessitatibus consectetur, aspernatur exercitationem natus rerum placeat.</div>
    <div class="single-service">
        <div class="imgbox">
            <img src="static/images/backmap.png"/>
        </div>
        <p>Lorem ipsum</p>
    </div>
</div>
{% endblock content %}